/**************************TAG SLECTOR ************************/
/* h1 {
  color: cornflowerblue;
  font-size: 100px;
}
img {
  background-color: red;
} */

/**************************CLASS SLECTOR ************************/

.paneer {
  background-color: cornflowerblue;
}

.pizza {
  background-color: darkcyan;
}
